ion-chip {
    --background: #00213f;
    --color: #adefd1;

  }

  .total-items-label {
    margin: 16px;
    font-size: 1.2em;
    font-weight: bold;
  }

  .total-price-label {
    margin: 16px;
    font-size: 1.2em;
    font-weight: bold;
  }
